:root {
  --space-xs: 0.35rem;
  --space-sm: 0.55rem;
  --space-md: 1rem;
  --space-lg: 1.35rem;
  --space-xl: 2rem;

  --round-sm: 0.25rem;
  --round-md: 0.5rem;
  --round-lg: 0.75rem;
}

html,
body {
  position: relative;
  width: 100%;
  height: 100%;
}

body {
  color: #333;
  margin: 0;
  padding: 8px;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

a {
  color: rgb(0, 100, 200);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  color: rgb(0, 80, 160);
}

label {
  display: block;
}

input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  box-sizing: border-box;
  border: 1px solid #ccc;

  padding: var(--space-sm);
  border-radius: var(--round-sm);

  /* reset default setting */
  margin-block-end: 0px;
  margin-block-start: 0px;
  
  /* reset appearance on safari */
  -webkit-appearance: unset;
}

input:disabled {
  color: #ccc;
}

button {
  color: #333;
  background-color: #f4f4f4;
  outline: none;

  padding: var(--space-sm);
  border-radius: var(--round-sm);

  cursor: pointer;
}

button:disabled {
  color: #999;
}

button:not(:disabled):active {
  background-color: #ddd;
}

button:hover {
  color: #666;
  background-color: #c4c4c4;
}
